<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
	
</head>
<body>
	<div id="button">
		<a href="/random_killer" id="killer_perk">Random Killer Perks</a>
		<a href="/random_surv">Random Survivor Perk</a>
	</div>
	<main id="data_button">
		<a href="/data">Show me the DATA!!!</a>
	</main>
	<div id="pictures">
		{% block content %}
			{% for filename in picture_filenames %}
		<img onclick="page()" class="Perk_pics" src="{{ url_for('static', filename='pictures/' + filename) }}" alt="{{ filename }}">
			{% endfor %}
		{% endblock %}
	</div>
	<footer>
		<p>Created by Matthew Bourgeois, using jinja and CSS and some python</p>
	</footer>
	<script>
		function page(){
			alert("perk description")
		}
	</script>
</body>
</html>