*{
	padding: 0;
	margin: auto;
	border: 1px solid red;
}
#content{
	width: 600px;
	background-color: white;
	padding: 15px;
	display: flex;
}
nav{
	padding: 10px;
	/* padding-top: 10px; */
}
#perks{
	display: flex;
	flex-direction: column;
}
h4{
	color: black;
	font: bold;
}
body:not(h1){
	background-color: black;
}
footer{
	color: white;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
	text-align: center;
}