*{
	margin: auto;
	padding: 0;
	border: 1px solid red;
}
body{
	background-color: black;
}
a{
	background-color: yellowgreen;
	color: purple;
	padding: 15px 15px;
	text-decoration: none;
	border-radius: 25%;
}
#button, button{
	display: flex;
	margin-top: 25px;
	padding: 10px;
}
#data_button{
	display: flex;
	margin-top: 25px;
	position: fixed;
	bottom: 5%;
	width: 100%;
	left: 0%;
	/* right: 50%; */
	text-align: center;
}
footer{
	color: white;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
	text-align: center;
}
#pictures{
	display: flexbox;

	padding: 10px;
}
.Perk_pics{
	height: 45px;
}